* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Light theme */

#switchButton {
  background-color: white;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

.dark .navbar .navbar-brand,
.dark a.dropdown-item,
.dark .navbar-expand-lg .navbar-nav .nav-link,
.dark .feature__title,
.dark .feature__text a,
.dark .course__title,
.dark .course__text-top .top-left,
.dark .course__text-top .top-right,
.dark .course__text h4 a,
.dark .classes__item .icon__info h5,
.dark .title-main,
.dark .title-bottom,
.dark .count-title,
.dark .count-text,
.dark .title-style {
  color: #ffffff;
}

.dark .course__text p {
  color: #b7b7b7;
}

/* Dark Theme*/
.dark#myBody {
  background-color: rgb(22, 28, 45);
}

.dark .container-fluid {
  background-color: rgb(22, 28, 45);
}

.dark .header__fixed {
  background-color: rgb(22, 28, 45);
}

.dark .navbar .navbar-nav {
  background-color: rgb(22, 28, 45);
}

.dark .navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: rgb(22, 28, 45);
}

.dark .navbar-expand-lg .navbar-nav .dropdown-menu:before {
  background-color: rgb(22, 28, 45);
}

.dark .course {
  background-color: rgb(18, 23, 37);
}

.dark .classes__item {
  background-color: rgb(22, 28, 45);
}

.dark .course__text {
  background-color: rgb(18, 23, 37);
}

.dark #switchButton .fa-sun {
  display: block;
  color: rgb(62, 89, 150);
  background-color: rgb(22, 28, 45);
}

.dark #switchButton .fa-sun:hover {
  color: #ff6e65;
}

.dark #switchButton .fa-moon {
  display: none;
}

/* start header__top */
header {
  height: 90px;
  display: grid;
  align-items: center;
}

.header__top {
  background-color: #0d369f;
  padding: 14px 15px;
}

.contact {
  padding-right: 20px;
  padding-left: 20px;
  justify-items: center;
}

.contact__left ul {
  padding: 0;
  margin: 0;
}

.contact__left li {
  display: inline-block;

  list-style: none;
  color: #fff;
}

.contact__left li:nth-child(2) {
  margin: 0 30px;
}

.contact__left li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  margin-left: 5px;
}

.contact__left li a:hover {
  color: #ff6e65;
}

.contact__right a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.contact__right a:hover {
  color: #ff6e65;
}

.navbar .search-right {
  margin: 0 10px 0 10px;
}

/* end header__top */

/* start header__fixed */
.container-fluid {
  background-color: #fff;
}

.fixed-top {
  position: sticky;
  background-color: #ffffff;
}

.header__fixed {
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  height: 90px;
}

.collapse .navbar-nav {
  align-items: center;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #0d369f;
  font-weight: 400;
  transition: 0.5s;
}

.navbar .navbar-brand:hover {
  color: #ff6e65;
}

.search-right .search-box {
  display: flex;
  align-items: center;
}

.input-search input {
  font-size: 15px;
  color: #060606;
  border: none;
  background: transparent;
  padding: 10px 35px 10px 14px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}

button.search-btn {
  position: absolute;
  color: #0d369f;
  right: 0;
  padding: 8px 12px 8px 2px;
  transition: 0.5s;
}

button.search-btn:hover {
  color: #ff6e65;
}

.navbar-expand-lg .navbar-nav .nav-link {
  transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 6px;
  font-size: 16px;
  color: #060606;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ff6e65;
}

.navbar-expand-lg .navbar-nav .active>.nav-link {
  color: #ff6e65;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #f8f9ff;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-23%);
  top: 38px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

a.dropdown-item {
  transition: 0.5s;
  font-size: 16px;
  color: #060606;
  padding: 6px 24px;
  font-weight: 400;
}

a.dropdown-item:hover {
  color: #ff6e65;
  background: none;
}

.dropdown-menu {
  min-width: 12rem;
  padding: 1rem 0;
}

.dropdown-toggle::after {
  display: none;
}

/* end header__fixed */

/* start right-sidebar */

.right__sidebar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;

  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

.right__sidebar-content {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top: 70px;
  margin-bottom: 70px;
  background: #0d1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.right__sidebar-top i {
  background: #0d1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}

/* end right-sidebar */

/* start carousel */

.owl-carousel .item-first {
  background: url(../img/banner2.jpg) no-repeat top right;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  min-height: 90vh;
}

.owl-carousel .item-second {
  background: url(../img/banner3.jpg) no-repeat top right;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  min-height: 90vh;
}

.carousel .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container h2 {
  font-size: 70px;
  line-height: 80px;
  width: 50%;
  color: #fff;
  padding-right: 50px;
}

.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.btn-style:hover {
  background-color: #ff6e65;
  color: #fff;
}

.owl-dots {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 24px;
  bottom: 75px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 2px;
  background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff6e65;
}

/*end carousel */

/* start carousel__bottom */
.carousel__bottom {
  position: relative;
  margin-top: -46px;
  z-index: 2;
}

.container h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
}

.carousel__bottom .box-content {
  text-align: center;
  padding: 45px 35px;
  border-radius: 8px;
  background-color: #fff;
}

.carousel__bottom .box-blue {
  background-color: #037ef3;
}

.carousel__bottom .box-orange {
  background-color: #ffc949;
}

.carousel__bottom .box-pink {
  background-color: #ff4f81;
}

.carousel__bottom .box-green {
  background-color: #1ee697;
}

.box-content i {
  font-size: 40px;
  color: #fff;
}

.box-content a {
  margin-top: 25px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;
}

.box-content a:hover {
  color: #000;
}

/* end carousel__bottom */

/* start feature */

.feature .feature__title {
  max-width: 700px;
}

.feature__title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}

.feature__title h3::before {
  content: "";
  background: #6c757d;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

.feature__title h3::after {
  content: "";
  background: #6c757d;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

.feature__title span {
  color: #ff6e65;
}

.feature__body .feature__img {
  color: #0d369f;
  font-size: 30px;
  background: rgb(13 54 159 / 9%);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  margin: auto;
}

.feature__text a {
  color: #000;
  text-decoration: none;
  margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.feature__text a:hover {
  color: #ff6e65;
}

.feature__text p {
  color: #707070;
  margin-top: 15px;
  line-height: 2;
}

/* end feature */

/* start course */

.course {
  background-color: #f8f9ff;
}

.course .course__title {
  max-width: 700px;
}

.course__info .course__body {
  transition: 0.4s ease;
}

.course__info .course__body:hover {
  box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}

.course__title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}

.course__title h3::before {
  content: "";
  background: #6c757d;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

.course__title h3::after {
  content: "";
  background: #6c757d;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

.course__title span {
  color: #ff6e65;
}

.course__body .course__img {
  position: relative;
}

.course__body .course__img img {
  display: block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.course__img .course__img-info {
  position: absolute;
  left: 30px;
  top: 15px;
}

.course__img .course__img-info a:nth-child(1) {
  background-color: #ffa100;
  text-decoration: none;
}

.course__img .course__img-info a:nth-child(3) {
  background-color: #037ef3;
  text-decoration: none;
}

.course__img .course__img-info a {
  background: #1dc295;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 10px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 5px;
}

.course__img-price {
  position: absolute;
  right: 15px;
  bottom: -15px;
}

.course__img-price div {
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff6e65;
  color: #ffffff;
  box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
  min-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course__text {
  padding: 20px;
  border: 1px solid #eee;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
}

.course__text h4 a {
  color: #060606;
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  transition: 0.3s;
}

.course__text h4 a:hover {
  text-decoration: none;
  color: #ff6e65;
}

.course__text p {
  font-size: 16px;
  color: #707070;
  padding-right: 80px;
  line-height: 1.6;
}

.course__text .course__text-top {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  color: #060606;
}

.course__text-top i {
  color: #ff6e65;
}

.course__text-bottom {
  border-top: 1px solid #eee;
  margin-top: 33px;
}

.bottom-left a {
  text-decoration: none;
  color: #ffc949;
  font-size: 15px;
}

.bottom-right a {
  color: #ff6e65;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.bottom-right a:hover {
  color: #0d369f;
}

.btn-style-secondary {
  background-color: #ff6e65;
  color: #fff;
  transition: 0.5s;
}

.btn-style-secondary:hover {
  background-color: #4867b0;
}

/* end course */

/* start classes */

.classes {
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.classes__item {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
}

.classes__item .icon {
  margin-right: 22px;
}

.classes__item .icon i {
  color: #0d369f;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}

.classes__item .icon__info h5 {
  font-size: 20px;
  line-height: 30px;
  color: #060606;
  font-weight: 600;
  margin-bottom: 6px;
  display: contents;
}

.classes__item .icon__info p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
}

/* end classes */

/* NUMBER */
.title-main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}

h3.title-main::before {
  left: -20px;
  bottom: -8px;
}

h3.title-main::after {
  left: 20px;
  bottom: -15px;
}

h3.title-main::before,
h3.title-main::after {
  content: "";
  background: #828282;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.title-main span {
  color: #ff6e65;
}

.title__heading-w3 p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.timer {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}

p.count-text {
  text-transform: uppercase;
  color: #060606;
}

.count-text p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #060606;
  letter-spacing: 0.4px;
  /* text-transform: uppercase; */
}

.counter {
  border-right: 1px solid #eee;
}

/* FEEDBACK */

.feedback .testimonials_grid {
  background: white;
  border-radius: 4px;
  box-shadow: 0 20px 40px rgb(4 20 69 / 10%);
  padding: 2rem;
}

.sub-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.sub-text q::before {
  font-size: 50px;
  color: #ff6e65;
  font-family: initial;
  line-height: 0.8px;
  padding-top: 8px;
  display: inline-block;
}

.feedback .sub-author-con {
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  grid-gap: 20px;
  margin-top: 1.5em;
}

.feedback .testi-img-res img {
  border-radius: 50%;
}

.feedback .testi_grid h5 {
  font-weight: 600;
  line-height: 16px;
}

.feedback .testi_grid p {
  font-size: 13px;
}

.testi_grid {
  padding-top: 5px;
}

/* INSTRUCTOR */
.team-block-single {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  background: white;
}

.instructor .team-grids img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.instructor .team-grids {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.instructor .team-info {
  position: absolute;
  bottom: -227px;
  margin: 0;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  width: 100%;
  text-align: center;
}

.instructor .team-block-single:hover div.team-info {
  bottom: 0;
}

.instructor .team-block-single:hover h6.member a {
  color: #ff6e65;
  transition: 0.5s all;
}

.instructor .team-block-single:hover .social-icons-section a {
  text-decoration: none;
}

.instructor .social-icons-section a.fac,
.instructor .social-icons-section a.twitter,
.instructor .social-icons-section a.google {
  background: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  border-radius: 50%;
}

.instructor .social-icons-section a span {
  color: #0d369f;
  font-size: 14px;
  line-height: 28px;
}

h6.member a {
  font-weight: 600;
  color: #060606;
  text-decoration: none;
}

.member small {
  font-size: 80%;
  font-weight: 400;
}

/* CONTACT US */
.about-2-secs-right img {
  border-radius: 8px;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

h3.title-style {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.about-2-secs-left p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-style-secondary {
  background: #ff6e65;
  color: #fff;
  transition: 0.3s ease-out;
}

.btn-style-secondary:hover {
  background: #0d369f;
  color: #fff;
  transition: 0.3s ease-out;
}

/* FOOTER */
.right-side {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.w3l-forms-9 h4.title-head {
  font-size: 35px;
  line-height: 40px;
  color: #060606;
  font-weight: 600;
}

.w3l-forms-9 .main-midd p {
  font-size: 15px;
  color: #707070;
  letter-spacing: 1px;
}

.w3l-forms-9 .rightside-form {
  display: flex;
}

.w3l-forms-9 form.rightside-form input {
  background: transparent;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  color: #060606;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid #eee;
}

.w3l-forms-9 .rightside-form button {
  background: #0d369f;
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

.w3l-forms-9 .rightside-form button:hover {
  opacity: 0.9;
}

.footer-22 .footer-sub {
  padding: 80px 0;
  background: #060e1f;
}

.footer-22 .sub-columns {
  margin-top: 120px;
}

.footer-22 .sub-two-right h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.footer-22 .sub-one-left h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.footer-22 .sub-two-right ul li {
  list-style: none;
}

.footer-22 .sub-two-right ul {
  margin: 0;
  padding: 0;
}

.footer-22 .sub-two-right ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
  text-decoration: none;
  transition: 0.5s all;
}

.footer-22 .sub-two-right ul li span i {
  font-size: 10px;
  color: white;
  margin-right: 5px;
}

.footer-22 .column2 span {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.footer-22 .column2 a {
  text-decoration: none;
  color: #cecece;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.footer-22 .href2 {
  margin-top: 10px;
  padding: 10px 0;
}

.footer-22 .sub-one-left p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}

.footer-22 .contact-para {
  margin-top: 10px;
}

/* FOOTER ABOUT */
.footer-22 .sub-one-left p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}

.footer-22 .column-2 {
  margin-top: 1.2rem;
}

.social {
  margin: 0;
  padding: 0;
}

.footer-22 ul.social li {
  display: inline-block;
  margin-right: 5px;
  list-style: none;
}

.footer-22 ul.social li a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.footer-22 ul.social li a:hover {
  opacity: 0.8;
  transition: 0.5s all;
}

/* COPYRIGHT FOOTER */
.footer-22 .copyright-footer {
  background: #040a17;
  padding: 20px 0;
}

.footer-22 .columns p {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
  height: 5px;
}

/* MOVE TOP */
.backToTop {
  width: 50px;
  height: 50px;
  background: #0d369f;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.backToTop:hover {
  color: white;
  opacity: 0.9;
}

.cd-top--is-visible {
  /* back-to-top button visible  */
  visibility: visible;
  opacity: 1;
}