@media only screen and (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 8px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 3px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 8px;
  }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 6px;
    font-size: 14px;
  }
}

/* Tablet */
@media only screen and (max-width: 991px) {
  header {
    background: #fff;
    height: auto;
  }
  .navbar {
    padding: 0.5rem 0rem;
  }

  .fixed-top {
    position: fixed;
  }
  button:focus {
    outline: none;
  }
  .navbar-toggler {
    border: none;
  }
  /* .navbar-expand-lg .navbar-toggler {
    display: none;
  } */
  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }
  button.navbar-toggler .icon-expand {
    display: none;
  }
  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    background: #0d369f;
    line-height: 34px;
  }
  .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #272121;
    border-radius: 4px;
    text-align: center;
  }
  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }
  button.navbar-toggler .icon-close {
    display: block;
  }
  .navbar-nav:last-child {
    border: 1px solid var(--border-color);
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin-top: 16px;
    box-shadow: 0 6px 19px rgb(0 0 0 / 5%);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;

    padding: 12px 10px;
    text-align: center;
    font-size: 15px;
  }

  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ff6e65;
  }
  .navbar form.search-box input {
    border: 1px solid #eee;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(4%);

    border: 1px solid #eee;
    text-align: center;
    width: 100px;
  }

  .container h5 {
    font-size: 50px;
    line-height: 60px;
    width: 100%;
    padding-right: 146px;
  }
  .carousel__bottom .box-blue {
    margin-bottom: 10px;
    padding: 30px 35px;
  }
  .container {
    max-width: 720px;
  }
  .switch-theme {
    position: absolute;
    right: 50px;
    top: 8px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
